.hero {
    display: flex;
    background: linear-gradient(180deg, rgb(236, 210, 241), white);
    justify-content: space-around;
    padding-top: 50px;
    width: 100%;
}

.hero_left {
    padding-top: 40px;
}

.hero_right img {
    width: 25vw;
}

.hand_hand_icon {
    display: flex;
    gap: 15px;
}

.hand_hand_icon img {
    width: 5vw;
    height: 72px;

}

p {
    font-size: 3.6vw;
    font-weight: bold;
}
.hero_btn{
    background: orangered;
    color: white;
    width: 10vw;
    padding: 12px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero_btn img{
    width: 2vw;
    height: 3vh;
}
.collection_btn{
    font-size: 1.2vw;
    font-weight: 500;
}