.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.head p {
    font-size: 35px;
}


.list_1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.list_2 {
    display: flex;
    gap: 60px;
}

hr {
    width: 80%;
    height: 1px;
    background: #000;
    margin: auto;
}

.copyright {
    width: 100%;
}

.copyright p {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin: 40px 0;
}